# Firebase Config
# Get these from your Firebase Console → Project Settings → Your Apps
VITE_APIKEY=AIzaSyArDz1Mlr2qpmsrJa75o2DXR_2DkZGs18E
VITE_AUTHDOMAIN=figme-c3ec3.firebaseapp.com
VITE_PROJECTID=figme-c3ec3
VITE_STORAGEBUCKET=figme-c3ec3.firebasestorage.app
VITE_MESSAGINGSENDERID=299210894301
VITE_APPID=1:299210894301:web:0bfb85bbfb6a03d69e6434

# Liveblocks Config
# Get this from your Liveblocks Dashboard → API Keys → Public Key
VITE_LIVEBLOCK_API=pk_dev_AMuJS_JGRKWliW9Iy-d_m7i5K2HvubBW_re4omsLvM9ou8ozeVYieiskBPSRmxFg
